.input {
  color: rgb(45, 45, 45);
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px 2px (0, 0, 0, 0.1);
}